body{
    margin: 0%;
    background: #dcc1dd; 
}

h1{
	margin-top:0%;
}

#titular{
    position: absolute;
    top: 23px;
    right: 35px;
    color: #4225a1;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


#logoAlura{
    padding-left: 8px;
    padding-bottom: 9px;
    padding-top: 15px;
    height: 40px;
}


nav{
    background:rgb(235, 235, 235) ;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 75px auto 13px auto;
}

#entradamensaje{
    border: none;
    background: #F3F5FC;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #072B61;
    resize: none;
    outline-style: none;
}

.alerta{
    display: flex;
    margin-top: 20px;
}

#simboloalerta{
    width: 16px;
    margin-right: 5px;
    opacity: 70%;
}

#textoindicador{
    font-family: "Montserrat";
    font-size: small;
}

.botones{
    display: flex;
    height: 60px;
}

#encriptarb{
    background: #0A3871;
    position: static;
    width: 328px;
    left: 0px;
    top: 0px;
    border: 2px solid #0A3871; 
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #F3F5FC;
    margin-right: 20px;
    transition: 0.5s background;
    cursor: pointer;
}

#encriptarb:hover{
    background: #072B61
}


#desencriptarb{
    background: #EFF1FA;
    position:static;
    width: 328px;
    left: 0px;
    top: 0px;
    border: 2px solid #0A3871; 
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;;
    transition: 0.5s background;
    cursor: pointer;
}

#desencriptarb:hover{
    background: #D8DFE8;
}

.output{
    margin-left: 70px;
    background-color: white;
    margin-bottom: 0px;
    width: 300%;
    border-radius: 20px;
    box-shadow: 0 0 10px #0a38713a;
}

#imagenbusqueda{
    width: 70%;
    margin: 2em 15% 0 15%;
    
}

.InfoNomensaje{
    font-family: 'Montserrat', sans-serif;
    padding: 0 10px;
    line-height: 0.9;
    font-weight: 600;
    font-size: 27px;
    margin-top: 1.5em;
    text-align: center;
}

.Infoindication{
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 17px;
    margin-top: 0.7em;
    text-align: center;
    color: #494949;
}


#botoncopiar{
    height: 60px;
    background: #ffffff;
    position: static;
    width: 65%;
    left: 0px;
    top: 0px;
    border: 2px solid #0A3871; 
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    transition: 0.5s background, color;
    cursor: pointer;
    margin: 18px auto 10px 17.5%;
}

#botoncopiar:hover{
    background: #0A3871;
    color: #ffffff;
}

#salidamensaje{
    display: block;
    outline-style: none;
    border-style: none;
    margin: 15px auto 0 auto;
    width: 90%;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #37414f;
}

.mostrarcontenidos{
    display: "";
}

.ocultarcontenidos{
    display: none;
}

footer{
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #0A3871;
}

.centrarcontenido{
    vertical-align: baseline;
    position: relative;
    display: flex;
    text-align: center;
}

.infodev{
    margin-right: 20px;
    margin-left: 40%
}

.logosfooter{
    display: inline-block;
    vertical-align: middle;
    margin: auto 0px;
}

#logoalura{
    height: 14px;
}

#logogithub{
    height: 17px;
}

#logoLinkedIn{
    height: 19px;
}

/*Pagina Responsive*/


@media screen and (max-width:1100px) 
{
    main{
        display: block;
        width: 80%;
        margin: 75px auto 13px auto;
    }

    input{
        width: 80%;
        margin: 0 auto;
    }

    .output{
        background-color: white;
        width: 90%;
        margin: 70px 5% 70px 2%;
        border-radius: 20px;
        box-shadow: 0 0 10px #0a38713a;
        padding: 15px;
    }

}

@media screen and (max-width:900px) 
{
    .infodev{
        margin-left: 28%
    }
}


@media screen and (max-width:500px) 
{

    main{
        display: block;
        width: 80%;
        margin: 75px 10% 13px 10%;
    }

    .output{
        background-color: white;
        width: 95%;
        margin: 70px 0;
        border-radius: 20px;
        box-shadow: 0 0 10px #0a38713a;
        padding: 10px;
    }    

    .infodev{
        margin-left: 19%
    }
    
}

@media screen and (max-height:800px) 
{
    footer{
        margin-top: 5px;
    }
}